/* MISC */
.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.left {
    float: left;
}

.right {
    float: right;
}

.cf:after {
    content: "";
    display: block;
    clear: both;
}

.inline {
    display: inline;
}

.text-primary {
    color: $color-primary-dark;
}

.text-success {
    color: $color-success-dark;
}

.text-info {
    color: $color-info;
}