img {
    max-width: 100%;
    height: auto;
}

.form-label--required:after {
    content: '*';
    color: #f72c1d;
}

.popover__img {
    margin: 0 auto;
    display: block;
}

.profile-img {
    width: 200px;
}

/* MAIN */
.site-main {
    background-color: #fefefe;
    margin-left: 0;
    margin-bottom: 3em;
}

.page-header {
    margin-top: 0.5em;
}

/* RESPONSIVE STYLING */
@media screen and (min-width: 768px) {
    .site-side {
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 160px;
        z-index: 999;
    }

    .sub-nav {
        margin-left: 160px;
        position: fixed;
    }

    .site-main--subnav {
        margin-top: 5em;
    }

    .nav-main {
        display: inline-block !important;
    }

    .nav-main__toggle {
        display: none;
    }

    .site-main {
        margin-left: 160px;
    }
}