::selection,
::-moz-selection {
    background: $color-primary;
    color: #000;
}

.a--disabled,
.a--disabled:hover,
.a--disabled:active,
.a--disabled:focus {
    background-color: #ddd !important;
    color: gray !important;
    cursor: default !important;
}