/*ADMIN*/
.admin {
    margin-top: 70px;
}

.admin-actions .btn {
    margin-bottom: 0;
}

.table-row {
    position: relative;
}

.table-row-link:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 37px;
    margin-top: -9px;
}

.checkbox-toggle {
    margin-top: 0;
}

.certfield-label {
    display: block;
    margin-bottom: 5px;
}

.certfield-checkbox {
    display: inline-block;
    margin-top: -5px;
    width: 100%;
}

@media (min-width: 768px) {
    .certfield-checkbox {
        width: 49%;
    }
}