.user-profile__img {
    padding-bottom: 2.5em;
    max-width: 15em;
    width: 100%;
}

/* RESPONSIVE STYLING */
@media screen and (max-width: 768px) {
    .user-profile__img {
        padding-bottom: 1em;
        max-width: 15em;
        width: 100%;
    }
}