// Vendor Overrides
$fa-font-path: "../fonts";

// Typography
$font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-size: 12px;
$font-line-height: 1.6;

// Colors
$yellow: #fbb82b;
$orange: #ff6203;
$pink: #f46f9c;
$green: #9cd455;
$black: #000;
$blue: #269adc;
$white: #fff;
$gray: #999999;
$red: #ff3d3d;

$color-primary: $yellow;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-secondary: $orange;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-accent: $pink;
$color-accent-light: lighten($color-accent, 10%);
$color-accent-dark: darken($color-accent, 10%);

$color-danger: $red;
$color-danger-light: lighten($color-danger, 10%);
$color-danger-dark: darken($color-danger, 10%);

$color-success: $green;
$color-success-light: lighten($color-success, 10%);
$color-success-dark: darken($color-success, 10%);

$color-info: $blue;
$color-info-light: lighten($color-info, 10%);
$color-info-dark: darken($color-info, 10%);

$color-gray: $gray;
$color-gray-light: lighten($color-gray, 10%);
$color-gray-lighter: lighten($color-gray, 30%);
$color-gray-dark: darken($color-gray, 10%);
$color-gray-darker: darken($color-gray, 30%);

$color-black: $black;
$color-white: $white;

// Components
$rating-size: 1.66rem;

// Overrides
// $brand-primary: $color-primary-dark;
// $brand-success: $color-success;
// $brand-warning: $color-secondary;
// $brand-info: $color-info;
// $brand-danger: $color-danger;