/* NAVIGATION */
.nav-main {
    display: none;
    width: 100%;
    position: relative;
}

.nav-main__toggle {
    padding: 1em;
    display: inline-block;
    color: white;
    background: #555;
    transition: color linear 0.15s;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: #bbb;
    }
}

.nav-main__divider {
    border-bottom: 1px solid #444;
}

.nav-main__a {
    transition: all .1s ease-in-out;
    color: #bbb;
    cursor: pointer;
    font-size: 0.875em;
    padding: 1.125em 1em !important;

    &:hover,
    &:active,
    &:focus {
        background-color: #333 !important;
        color: #ddd;
    }

    &:after {
        content: "\f105";
        font-family: FontAwesome;
        height: 20px;
        line-height: 21px;
        margin-top: -10px;
        position: absolute;
        right: 5px;
        top: 50%;
        width: 20px;
    }

    &--active {
        background-color: #111;
        color: #fff;
    }
}

.nav-main__user {
    padding: 1em 0;
    color: #ddd;
    font-size: 0.75em;
}

.nav-wallet {
    font-size: 2rem;
    font-weight: bold;

    &:hover,
    &:focus {
        color: #222;
    }
}

.sub-nav {
    position: relative;
}