/* SIDEBAR */
.site-side {
    background-color: #222;
}

.site-side__logo {
    color: $color-white;
    font-size: 2rem;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.site-side__a,
.site-side__a:hover,
.site-side__a:focus {
    color: $color-white;
}