.post__info {
    background: #f5f5f5;
    padding: 1em;
}

.post__main {
    border-bottom: 1px solid #eee;
    padding-bottom: 2em;
}

.post__status--open i {
    color: $color-info;
}

.post__status--in-progress i,
.post__status--pending i {
    color: $color-primary;
}

.post__status--solved i {
    color: $color-success;
}

.post__divider {
    margin: 2em 0;
}

.post__solution {
    padding: 2em 0;
    border-bottom: 1px solid #eee;
}