.post-preview {
    background-color: #fff;
    padding: 2em 0;
    border-top: 1px solid $color-gray-lighter;

    &:last-child {
        border-bottom: 1px solid $color-gray-lighter;
    }
}

.post-preview .panel-body {
    padding-bottom: 0.5em;
}

.post-preview__header {
    position: relative;
}

.post-preview__title {
    display: inline-block;
    font-size: 1.125em;
    margin: 0 0 0.2em 0;
    position: relative;
    padding-right: 1em;
}

.post-preview__user {
    color: $color-gray;
}

.post-preview__footer {
    text-align: left;
    font-size: 1rem;
    color: $color-gray-dark;
}

.post-preview__footer .btn {
    margin-left: 0.5rem;
}

.post-preview__status {
    font-size: 0.75em;
    position: absolute;
    right: 0;
    top: 0;
}

.post-preview__teacher {
    display: inline;
}

/* RESPONSIVE STYLING */
@media screen and (min-width: 768px) {
    .post-preview__user-pic {
        display: inline-block;
    }
}