.rating {
    display: inline-block;
    border: 0;
    color: gray;
    font-size: $rating-size;
    position: relative;
}

.rating--small {
    font-size: $rating-size * 0.75;
}

.rating--form {
    .rating__star {
        cursor: pointer;
    }

    label:hover, label:hover ~ label {
        color: $color-primary-dark;
    }

    /* Hover highlights */
    input:checked + label:hover, input:checked ~ label:hover,
    input:checked ~ label:hover ~ label,
    label:hover ~ input:checked ~ label {
        color: $color-primary-light;
    }
}

.rating__input {
    display: none;
}

.rating__star {
    float: right;
    margin: 0;
    font-size: 12px;

    &:before {
        display: inline-block;
        padding: 0 0.2rem;
        margin: 0;
        font-family: FontAwesome;
        content: "\f005";
        font-size: initial;
    }
}

.rating__star--half {
    &:before {
        content: '\f089';
        position: absolute;
    }
}

.rating__input:checked ~ .rating__star {
    color: $color-primary;
}

