/* RECEIPT */
.receipt__title {
    margin: 1px auto 0.875em;
}

.receipt__date {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1.5em;
    text-align: center;
}

.receipt__total {
    border-top-width: 2px;
    font-weight: bolder;
}

.receipt__amount {
    text-align: right;
}