.scrolltop {
    background: #444;
    bottom: 0;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 0.875em;
    padding: 0.875em;
    position: fixed;
    right: 1em;
    height: 3em;
}

.scrolltop:hover {
    background: #333;
}