.tags {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
}

.tag {
    display: inline-block;
    color: $color-gray-dark;
    border: 1px solid $color-gray-light;
    background: $color-white;
    margin: 0 0.25em 0.3em 0;
    padding: 0.1em 0.5em;
}